<section class="section">
    <h2 class="visually-hidden">Articles</h2>
    <div class="articles-block">
        <div class="toggle">
            <a href="#" class="toggle__link toggle__link--grid primary">
                <i class="fas fa-th"></i>
            </a>
            <a href="#" class="toggle__link toggle__link--list">
                <i class="fas fa-list"></i>
            </a>
        </div>
        <ul class="articles">
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-1.jpg" alt="monblan image 1">
                        </picture>
                        <div class="article__content">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-2.jpg" alt="monblan image 2">
                        </picture>
                        <div class="article__content">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">12,800</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">3,100</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <i class="article__video fas fa-video"></i>
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-3.jpg" alt="monblan image 3">
                        </picture>
                        <div class="article__content">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-play"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-4.jpg" alt="monblan image 4">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <i class="article__video fas fa-video"></i>
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-5.jpg" alt="monblan image 5">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-play"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-play"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-6.jpg" alt="monblan image 6">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-7.jpg" alt="monblan image 7">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-8.jpg" alt="monblan image 8">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00"></time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="article-wrap">
                <article class="article">
                    <a class="article__link" href="#" target="_blank">
                        <picture class="article__img-wrap">
                            <img class="article__img" src="img/article-img-9.jpg" alt="monblan image 9">
                        </picture>
                        <div class="article__content article__content--center">
                            <div class="article__about">
                                <time class="article__day" datetime="2016-02-14 18:00:00">Today</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">128</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">31</span>
                                </div>
                            </div>
                            <div class="article__about">
                                <time class="article__day" datetime="2016-08-09 18:00:00">9-08-2016</time>
                                <div class="article__like">
                                    <i class="fas fa-heart"></i>
                                    <span class="article__text">67</span>
                                </div>
                                <div class="article__comment">
                                    <i class="fas fa-comment-alt"></i>
                                    <span class="article__text">22</span>
                                </div>
                            </div>
                            <div class="article__about article__about--center">
                                <span class="article__text">Image upload:</span>
                                <time class="article__day" datetime="2016-04-11 18:00:00">11-04-2016</time>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
        <div class="articles-block__btn">
            <button class="btn">load more</button>
        </div>
    </div>
    
    
</section>

