<header class="header-wrap">
    <div class="container">
        <div class="header">
            <a class="header__logo logo" href="index.html">
                <img src="img/logo.png" alt="monblan logo">
            </a>
            <div class="header__about">
                <div class="head">
                    <h1 class="title">monblanproject</h1>
                    <button class="btn btn--primary head__btn">
                        Start on 
                        <time class="head__date" datetime="2016-02-17 19:00:00">17-02-2016</time>
                    </button>
                </div>
                <div class="info">
                    <div class="info__item">
                        <span class="info__count">870</span>
                        <span class="info__text">posts</span>
                    </div>
                    <div class="info__item">
                        <span class="info__count">11,787</span>
                        <span class="info__text">followers</span>
                    </div>
                    <div class="info__item">
                        <span class="info__count">112</span>
                        <span class="info__text">following</span>
                    </div>
                </div>
                <div class="header__date">
                    <p>Date</p>
                    <div class="header__forms">
                        <form class="header__form">
                            <div class="form-group">
                                <input type="date" class="form-control">
                            </div>
                        </form>
                        <form class="header__form">
                            <div class="form-group">
                                <input type="date" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>